.content-wrapper {
    width: 100%;
}
.content {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
}

.box {
    display: inline-block;
    width: 220px;
    margin: 4px;
    padding: 12px;

    border-style: solid;
    border-radius: 8px;
    border-width: 1px;
    border-color: #343e52;

    background-color: #303849;
}

.box:hover {
    color: white;
    background-color: #3f4758;
    cursor: pointer;
}

@media (pointer:none), (pointer:coarse) {
    .box:hover {
        background-color: #3f4758;
        cursor: pointer;
    }
}

.title {
    font-size: 24px;
    font-weight: 600;
}

.subtitle {
    font-size: 20px;
    font-weight: 300;
}

.section-title {
    font-size: 28px;
    font-weight:600;
    margin-bottom: 32px;
}

.clear {
    clear: both;
}

button, input[type=submit] {
    background-color: #303849;
    color: white;
    border: 1px solid #343e52;
    border-radius: 8px;
    padding: 4px 16px;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    -webkit-appearance: none;
}

button:hover {
    background-color: #3f4758;
    cursor: pointer;
}