.content-wrapper {
    width: 100%;
}
.content {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
}

.box {
    display: inline-block;
    width: 220px;
    margin: 4px;
    padding: 12px;

    border-style: solid;
    border-radius: 8px;
    border-width: 1px;
    border-color: #343e52;

    background-color: #303849;
}

.box:hover {
    color: white;
    background-color: #ccc;
    cursor: pointer;
}

.box-title {
    font-size: 24px;
    font-weight: 600;
}

.box-subtitle {
    font-size: 20px;
    font-weight: 300;
}

.title {
    font-size: 28px;
    font-weight:600;
    margin-bottom: 32px;
}

.clear {
    clear: both;
}