#leagues {
    display: inline-block;
    width: 100%;

    padding-bottom: 32px;
    margin-bottom: 32px;

    border-bottom: 1px solid #ccc;

    text-align: center;
}

#leagues .active {
    color: #2d3648;
    background-color: #c7d1dd;
}

#leagues .active:hover {
    color: white;
    background-color: #3f4758;
    cursor: pointer;
}

#leagues .box {
    vertical-align: top;
    /*height: 92px;*/
}