/** MATCH-UPS */
#match-ups {
    text-align: center;

    float: left;
    width: 100%;

    padding-bottom: 32px;
    margin-bottom: 32px;
    border-bottom: 1px #ccc solid;
}

#match-ups .active {
    color: #2d3648;
    background-color: #c7d1dd;
}

#match-ups .active:hover {
    color: white;
    background-color: #3f4758;
    cursor: pointer;
}