#settings {
    display: inline-block;
    width: 100%;

    padding-bottom: 12px;
    margin-bottom: 12px;

    border-bottom: 1px solid #ccc;
}

#settings .title{
    text-align: center;
}

#settings .label {
    float: left;
    width: 60px;
}

#week .label {
    height: 35px;
}

#settings .option {
    display:inline-block;
    margin-right: 16px;
    color: #ccc;
    font-weight: 200;
}

#settings .option:hover {
    color: #7f7f7f;
    font-weight: 600;
    cursor: pointer;
}

#settings .active {
    font-weight: 600;
}

.settings-options {
    text-align: center;
}