body {
    font-family: 'Open Sans', sans-serif;
    background-color: #181c28;
    color: white;
}

#container {
    background-color: #283141;
    width: 800px;
    height: 100%;
    margin: auto;
    text-overflow: ellipsis;
    padding: 15px;
}